/* .PostForm  */
.PostForm form {
  width: 60%;
}

.PostForm {
  margin-left: 50px;
}

/* .PostForm  */
.PostForm input, textarea {
  display: block;
}

.PostForm button {
  /* display: inline-block; */
  /* margin-; */
  /* position: absolute; */
  /* right: 0; */
  margin: 10px 0px 0px 10px;
}
